.menu-overlay {
  backdrop-filter: blur(4px);
  border-bottom: 2px solid #222;
}
.menu-item {
  background: rgba(255, 0, 0, 0.15);
}
.menu-item-mobile {
  background: rgba(255, 0, 0, 0.25);
}
.menu-item:hover, .menu-item-mobile:hover {
  background: #b91c1c;
  color: #fff;
}
